.buscador {
    text-align: center;
}

.card__main {
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card__product {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin: 10px 50px;
    padding: 10px;
    background-color: #eceae2;
    border: #574345 solid 2px;
}

.card__img {
    width: 150px;
    height: auto;
}

.card__title {
    text-align: center;
}